* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: white;
    /* Evitar que el texto se pueda seleccionar */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* estándar */
}

body {
    height: 100vh;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-repeat: no-repeat;
}

header {
    font-size: 5vw;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
}

main {
    display: flex;
    justify-content: center;
}

/* Effects */

.blur {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.curvedRadius {
    border-radius: 30px 30px;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.flexbox{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

/* Elements */
#center {
    width: 200px;
    text-align: center;
}

main > div{
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}

/* Checkbox animation */
#switchInput{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.switch::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    left: 5px;
    top: 5px;
    transition: all 0.4s;
}

input[type='checkbox']:checked+.switch::after {
    transform: translateX(40px);
    background-color: rgb(255, 255, 255);
}

input[type='checkbox']:checked+.switch {
    background-color: rgba(91, 218, 77, 255);
    transition: 0.3s;
}

.offscreen {
    position: absolute;
    left: -999999px;
}
/* ----------------------------------------- */
/* Clock style */
#timer div{
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#timer h2{
    text-align: center;
}
#timer input{
    text-align: center;
    width: 70px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.startButton{
    background-color: #1bd396;
}

.stopButton{
    background-color: #e24f3c;
}

#divBtn{
    display: flex;
    justify-content: center;
}

/* Search bar */


input[type='search']{
    width: 500px;
}

input[type='search']:focus{
    outline: none;
}

input[type='search']::placeholder{
    color:#dcddcf
}

#searchBar{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#searchBar button{
    background-color: #1bd396;
}

#searchBar > *{
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Programs to close */
div#programs{
    text-align: center;
    width: 30rem;
    height: 10rem;
}
#listPrograms img{
    width: 50px;
    height: 50px;
    margin: 0.3rem
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
footer a{
    text-decoration: none;
}